
<footer class="container-fluid text-light mt-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container py-5 text-md-left">
      <div class="row g-5">
        <div class="col-lg-4 col-md-6">
          <div class="footer-about text-center text-md-left ml-0">
            <a [routerLink]="['/home']" class="navbar-brand">
              <div
                class="logo-circle bg-white d-inline-flex align-items-center justify-content-center p-3 rounded-circle">
                <img src="/assets/images/logo.jpeg" alt="Sanyu Infotech Logo" height="50" width="50">
              </div>
              <h1 class="m-0 text-white mt-3">Sanyu InfoTech</h1>
            </a>
            <p class="mt-3 mb-4">We turn business challenges into growth with tailored digital solutions. Our expert
              team creates powerful, scalable software that boosts efficiency and drives innovation, helping
              businesses
              stay ahead in today’s fast-paced digital world.</p>
          </div>
        </div>
        <div class="col-lg-4 col-md-6">
          <h3 class="text-white mb-4">Quick Links</h3>
          <div class="d-flex flex-column">
            <a class="text-light mb-2" [routerLink]="['/home']"><i class="bi bi-arrow-right me-2"></i>&nbsp;Home</a>
            <a class="text-light mb-2" [routerLink]="['/about']"><i class="bi bi-arrow-right me-2"></i>&nbsp;About Us</a>
            <a class="text-light mb-2" [routerLink]="['/services']"><i class="bi bi-arrow-right me-2"></i>&nbsp;Our
              Services</a>
            <a class="text-light mb-2" [routerLink]="['/mou']"><i class="bi bi-arrow-right me-2"></i>&nbsp;MOU
              With
              Colleges</a>
            <a class="text-light" [routerLink]="['/contact']"><i class="bi bi-arrow-right me-2"></i>&nbsp;Contact Us</a>
          </div>
        </div>

        <div class="col-lg-4 col-md-6">
          <h3 class="text-white mb-4">Get In Touch</h3>
          <div class="d-flex flex-column">
            <div class="d-flex mb-3">
              <i class="bi bi-geo-alt text-primary me-2 mt-1"></i>
              <p class="mb-0 ju">&nbsp;Near Vikas Mitra Mandal Chowk, Karve Nagar,&nbsp; Pune, Maharashtra 411052</p>
            </div>
            <div class="d-flex mb-3">
              <i class="bi bi-envelope-open text-primary me-2 mt-1"></i>
              <p class="mb-0">&nbsp;hr@sanyuinfotech.com</p>
            </div>
            <div class="d-flex mb-3">
              <i class="bi bi-telephone text-primary me-2 mt-1"></i>
              <p class="mb-0">&nbsp;+91 9767 74 37 83</p>
            </div>
            <div class="d-flex mt-4">
              <a class="btn btn-outline-light btn-square me-2" href="#"><i class="fab fa-twitter"></i></a>&nbsp;
              <a class="btn btn-outline-light btn-square me-2" href="#"><i class="fab fa-facebook-f"></i></a>&nbsp;
              <a class="btn btn-outline-light btn-square me-2" href="#"><i class="fab fa-linkedin-in"></i></a>&nbsp;
              <a class="btn btn-outline-light btn-square" href="#"><i class="fab fa-instagram"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid text-white py-4" style="background: black">
      <div class="container" style="background-color: black; height: 30px;">
        <div class="row">
          <div class="col-md-9 text-center text-md-start">
            <p class="mb-0 text-md-left">&copy; <a class="text-white border-bottom" href="#">2025 Sanyu Infotech Pvt.
                Ltd.</a> All Rights Reserved.</p>
          </div>
          <div class="col-md-3 text-center text-md-end">
            <p class="mb-0">Designed by <a class="text-white border-bottom" href="#">Sanyu Infotech</a></p>
          </div>
        </div>
      </div>
    </div>
  </footer>

