<app-navbar></app-navbar>
<div class="container-fluid bg-primary py-5 bg-header mt-5" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center animate__animated animate__zoomIn">
            <h1 class="display-4 text-white animated zoomIn"><strong>About Sanyu Infotech Technologies</strong></h1>
            <p class="h5 text-white">Sanyu Infotech was founded with the vision to create a software and custom
                application development company dedicated to delivering innovative technical solutions for
                real-world business challenges. Our focus is on driving success and efficiency for businesses
                through tailored digital solutions.</p>
        </div>
    </div>
</div>

<div class="container mb-0">
    <div class="row featurette">
        <div class="col-md-7" data-aos="fade-up">
            <h4 class="featurette-heading" style="color:#ff6600 !important;">About Us</h4>
            <h2>Who We Are</h2>
            <div style="width: 20%; text-align: center; background-color: #ff4d00;">
                <div class="motion-line"> </div>
            </div>
            <p class="lead my-4"  style="font-weight: 20px;"><b>Infotech was founded with a vision to provide
                    innovative
                    software and custom application
                    development solutions. Our goal is to deliver cutting-edge technology that addresses real-world
                    business challenges, helping businesses grow and stay ahead in an ever-evolving digital
                    landscape.</b>
            </p>
        </div>
        <div class="col-md-5" data-aos="zoom-in" data-aos-delay="300">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x300/auto" alt="500x300"
                src="/assets/images/About1.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
        </div>
    </div>
</div>

<div class="container">
    <div class="row featurette">
        <div class="col-md-7 order-md-2" >

            <p class="lead my-4" data-aos="fade-up"><b>While many companies followed similar paths, our founders focused on serving
                    clients
                    with excellence, believing that talent, transparency, strong work ethics, and honesty were key
                    to a
                    company's success. This approach enabled us to deliver custom development projects across 24
                    countries and grow to a team of over 700 dedicated professionals.</b></p>
        </div>
        <div class="col-md-5 order-md-1"  data-aos="zoom-in" data-aos-delay="300">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x300/auto" alt="500x300"
                src="/assets/images/About2.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
        </div>
    </div>
</div>


<!--<div class="container-fluid wow fadeInUp service-details-gray-sec my-4 bg-light" data-wow-delay="0.1s">
    <div class="container">
        <h1 class="mb-0 align-items-center justify-content-center text-center">Why Sanyu infotech?</h1>

        <div class="row my-4 text-center">
            <div class="col-lg-4">
                <img class="rounded-circle" src="/assets/images/about1.png" alt="Generic placeholder image" width="140"
                    height="140">
                <h4>Design Thinking Approach</h4>
                <p class="text-justify">Our customer-centric design thinking approach empowers businesses to rapidly build adaptable,
                    future-proof architectures. We place your customers at the core, crafting meaningful digital
                    experiences that drive growth</p>

            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="/assets/images/about2.png" alt="Generic placeholder image" width="140"
                    height="140">
                <h4>Cutting-Edge Technology Culture</h4>
                <p class="text-justify">With over 30 years of experience in leveraging groundbreaking technologies, we deliver innovative
                    solutions that help clients achieve impactful business outcomes and stay ahead of the
                    competition.</p>

            </div>
            <div class="col-lg-4">
                <img class="rounded-circle" src="/assets/images/about3.png" alt="Generic placeholder image" width="140"
                    height="140">
                <h4>End-to-End Partnership</h4>
                <p class="text-justify">As your trusted partners, we provide comprehensive support across every stage of your digital
                    transformation. From strategizing your digital business vision to implementing tailored
                    solutions, we ensure that each step is aligned with your business objectives.</p>

            </div>
        </div>

    </div>
</div>-->
<div class="container-fluid marketing text-center bg-light "style="margin-top: -40px;">
    <div class="container " >
        <div class="row g-5 py-5" >
          
                <h2 class="fw-bold display-5"
                    style="color: #000000; font-weight: 600; font-size: 35px; ">
                    Why Sanyu infotech?</h2>
           
            <div class="col-lg-4"  data-aos="zoom-in" data-aos-delay="100">
               
                    <img class="rounded-circle" src="assets/images/about1.png" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="fw-bold" style="margin-top: 18px; font-size: 25px;" >Design Thinking Approach</h2>
                    <p class="text-justify" data-aos="fade-up" style="line-height: 1.3; font-size: 18px;"  >Our customer-centric design thinking approach empowers businesses to rapidly build adaptable,
                        future-proof architectures. We place
                        your customers at the core, crafting meaningful digital experiences that drive growth</p>
               
            </div>

            <div class="col-lg-4"  data-aos="zoom-in" data-aos-delay="200">
                
                    <img class="rounded-circle" src="assets/images/about2.png" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="fw-bold " style="margin-top: 18px; font-size: 25px;">Cutting-Edge Technology Culture</h2>
                    <p class="text-justify" data-aos="fade-up" style="line-height: 1.3; font-size: 18px;" >With over 30 years of experience in leveraging groundbreaking technologies, we deliver
                        innovative solutions that help clients
                        achieve impactful business outcomes and stay ahead of the competition.</p>
               
            </div>

            <div class="col-lg-4"  data-aos="zoom-in" data-aos-delay="300">
               
                    <img class="rounded-circle" src="assets/images/about3.png" alt="Generic placeholder image"
                        width="140" height="140">
                    <h2 class="
                    fw-bold" style="margin-top: 18px;font-size: 25px;">End-to-End Partnership</h2>
                    <p class="text-justify" data-aos="fade-up" style="line-height: 1.3; font-size: 18px;" >As your trusted partners, we provide comprehensive support across every stage of your digital
                        transformation. From strategizing your
                        digital business vision to implementing tailored solutions, we ensure that each step is
                        aligned with your business objectives.</p>
               
            </div>
        </div>

    </div>
</div>





<div class="container my-5">
    <div class="row featurette">
        <div class="col-md-7 order-md-2 my-4" data-aos="fade-up">
            <h2>Our Vision</h2>
            <div style="width: 20%; text-align: center; background-color: #ff4d00;">
                <div class="motion-line"> </div>
            </div>

            <p class="lead my-4" style="font-size: 15px;"><b>We aim to lead with integrity, innovation, and a
                    relentless pursuit of
                    excellence. Our vision is to empower businesses and communities by delivering transformative
                    technology solutions that create real, lasting value. We are committed to earning the trust of
                    our clients and partners every day by consistently exceeding expectations and embracing new
                    challenges with confidence. By fostering a culture of collaboration and continuous learning, we
                    strive to stay at the forefront of technological advancements, shaping the future through
                    impactful and sustainable digital solutions.</b></p>
        </div>
        <div class="col-md-5 order-md-1"  data-aos="zoom-in" data-aos-delay="200">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x300/auto" alt="500x300"
                src="/assets/images/About3.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
        </div>
    </div>
</div>



<div class="container">
    <div class="row featurette">
        <div class="col-md-7 my-4" data-aos="fade-up">

            <h2>Our Mission</h2>
            <div style="width: 20%; text-align: center; background-color: #ff4d00;">
                <div class="motion-line"> </div>
            </div>
            <p class="lead my-4" style="font-size: 15px;"><b>Our mission is to transform innovative ideas into
                    impactful business solutions while maximizing resource efficiency. We believe in doing more with
                    less through adaptability and agility. Our goal is to deliver intelligent, effective solutions
                    that drive success. We prioritize transparent communication and responsible actions, ensuring
                    the best outcomes for our clients and team members. By embracing challenges with creativity and
                    commitment, we continuously strive to exceed expectations and contribute positively to the
                    digital world.</b>
            </p>
        </div>
        <div class="col-md-5"  data-aos="zoom-in" data-aos-delay="200">
            <img class="featurette-image img-fluid mx-auto" data-src="holder.js/500x300/auto" alt="500x300"
                src="/assets/images/About4.jpg" data-holder-rendered="true" style="width: 500px; height: 300px;">
        </div>
    </div>
</div>



<div class="py-lg-6 container-fluid" style="margin-bottom: 100px; margin-top: 80px;">
    <div class="row" >
        <div class="col-md-12" >
        </div>
    </div>
    <div class="row-cols-xl-7 gy-6 row " >

        <div class="logo-slider bg-light" style="height: 100px;">
            <div class="logo-track mt-3">
                <img src="/assets/images/img_google.png" alt="Google">
                <img src="/assets/images/img_microsoft.png" alt="Microsoft">
                <img src="/assets/images/img_tcs.png" alt="TCS">
                <img src="/assets/images/img_scer.png" alt="SCER">
                <img src="/assets/images/img_myntra.png" alt="Myntra">
                <img src="/assets/images/img_oracle.png" alt="Oracle">
                <img src="/assets/images/img_flipcart.png" alt="Flipkart">

                <!-- Duplicate for seamless loop -->
                <img src="/assets/images/img_google.png" alt="Google">
                <img src="/assets/images/img_microsoft.png" alt="Microsoft">
                <img src="/assets/images/img_tcs.png" alt="TCS">
                <img src="/assets/images/img_scer.png" alt="SCER">
                <img src="/assets/images/img_myntra.png" alt="Myntra">
                <img src="/assets/images/img_oracle.png" alt="Oracle">
                <img src="/assets/images/img_flipcart.png" alt="Flipkart">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>











