<app-navbar></app-navbar>
<div class="container-fluid bg-primary py-5 bg-header mt-5" style="margin-bottom: 90px;">
    <div class="row py-5">
        <div class="col-12 pt-lg-5 mt-lg-5 text-center animate__animated animate__zoomIn">
            <h1 class="display-4 text-white animated zoomIn"><strong>Services</strong></h1>
        </div>
    </div>
</div>



<div class="container my-5"  data-aos="fade-up">
    <h1 class="jumbotron-heading text-center text-uppercase">Our Services</h1>
    <p class="lead text-center font-weight-bold text-dark">
        Future-Proofing Your Business<br> with Advanced IT Strategies
    </p>
        
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fa fa-shield-alt"></i></h2>
                    </div>
                    <h5 class="card-title my-4">Software Development</h5>
                    <p class="card-text text-muted">Build robust full-stack applications using Java, Python, and
                        MERN stack.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fa fa-chart-pie"></i></h2>
                    </div>
                    <h5 class="card-title my-4">Testing & Quality Analysis</h5>
                    <p class="card-text text-muted">Master automation with Selenium and ensure software reliability.
                    </p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fa fa-code"></i></h2>
                    </div>
                    <h5 class="card-title my-4">Cloud Computing</h5>
                    <p class="card-text text-muted">Learn AWS solutions for scalable and cost-effective cloud
                        deployment.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row mt-4">
        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fab fa-android"></i></h2>
                    </div>
                    <h5 class="card-title my-4">DevOps Solutions</h5>
                    <p class="card-text text-muted">Streamline development with CI/CD, automation, and collaboration
                        tools.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fa fa-search"></i></h2>
                    </div>
                    <h5 class="card-title my-4">Data Analytics</h5>
                    <p class="card-text text-muted">Analyze large datasets using modern analytics and data
                        processing tools.</p>
                </div>
            </div>
        </div>

        <div class="col-md-4"  data-aos="zoom-in" data-aos-delay="300">
            <div class="card" style="background-color: #EEF9FF !important;">
                <div class="card-body text-center">
                    <div class="service-icon">
                        <h2><i class="fa fa-search"></i></h2>
                    </div>
                    <h5 class="card-title my-4">AI & ML</h5>
                    <p class="card-text text-muted">Develop intelligent AI-driven applications and predictive
                        models.</p>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container my-5"  data-aos="fade-up" data-aos-delay="200">
    <h1 class="jumbotron-heading text-center text-uppercase ">Modes We Train</h1>
    <p class="lead text-center fw-bolder text-dark ">Flexible Learning Modes</p>
        
</div>


<div class="container" data-aos="zoom-in" data-aos-delay="600">
    <div class="card-deck">
        <div class="card" data-aos="zoom-in" data-aos-delay="700">
            <div class="align-items-center justify-content-center text-center my-4"
                style="font-size: 50px; color: #ff6600;">
                <i class="fa-solid fa-chalkboard-user"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title">Offline Classes</h5>
                <p class="card-text">Offline classes involve face-to-face interaction, structured schedules,
                    hands-on learning.</p>
            </div>
        </div>
        <div class="card" data-aos="zoom-in" data-aos-delay="700">
            <div class="align-items-center justify-content-center text-center my-4"
                style="font-size: 50px; color: #ff6600;">
                <i class="fa-solid fa-laptop"></i>
            </div>
            <div class="card-body">
                <h5 class="card-title">Live Online classes</h5>
                <p class="card-text">Online classes provide remote learning flexibility through digital platforms.

                </p>
            </div>

        </div>
        <div class="card" data-aos="zoom-in" data-aos-delay="700">
            <div class="align-items-center justify-content-center text-center my-4"
                style="font-size: 50px; color: #ff6600;">
                <i class="fa-solid fa-camera"></i>
            </div>

            <div class="card-body">
                <h5 class="card-title">Lecture Recordings Provided</h5>
                <p class="card-text">"Missed a session? No worries! We provide high-quality lecture recordings so
                    you can revisit lessons anytime, anywhere.</p>
            </div>
        </div>
    </div>
</div>



<section id="features-section" class="py-5 bg-white text-dark text-center my-5"  data-aos="fade-up" data-aos-delay="200">
    <h1 class="jumbotron-heading text-center text-uppercase">Training And Placement</h1>
    <p class="lead text-center font-weight-bold text-dark">
        Empowering Careers with Industry-Ready <br>Training & Job Placements!
    </p>
        
    <div class="container my-5" data-aos="fade-up" data-aos-delay="300">
        <div class="row align-items-center">
            <div class="col-lg-4 text-start">
                <div class="info-box mb-4 mt-3 text-md-left">

                    <h5 class="fw-bold mt-3">- Expert-Led Training: </h5>
                    <p class="text-muted">Learn from industry professionals through structured courses and
                        real-world case studies.</p>
                </div>
                <div class="info-box mb-4 mt-3 my-4 text-md-left">

                    <h5 class="fw-bold mt-3">- Hands-on Experience: </h5>
                    <p class="text-muted">Gain practical skills with live projects, workshops, and internships.</p>
                </div>
                <div class="info-box mb-4 mt-3 my-4 text-md-left">

                    <h5 class="fw-bold mt-3" >- Apptitute Preparation: </h5>
                    <p class="text-muted">Sharpen your problem-solving skills with our expert-led aptitude
                        preparation for a successful IT career!</p>
                </div>

            </div>


            <div class="col-lg-4 col-12 d-flex justify-content-center " data-aos="zoom-in" data-aos-delay="500">
                <img src="/assets/images/placement.jpg" alt="About Image" class="img-fluid"
                    style="max-width: 100%; height: 410px; object-fit: cover;">
            </div>


            <div class="col-lg-4 text-start">
                <div class="info-box mb-4 mt-3 text-md-left">
                    <h5 class="fw-bold mt-3" >- 100% Placement Assistance:</h5>
                    <p class="text-muted">We connect you with top recruiters and provide career support until you
                        secure a job.</p>
                </div>
                <div class="info-box mb-4 mt-3 my-4 text-md-left">

                    <h5 class="fw-bold mt-3" >- Resume Building & Interview Preparation: </h5>
                    <p class="text-muted"> Get guidance on crafting a strong resume, acing interviews, and
                        excelling in job placements.</p>
                </div>
                <div class="info-box mb-4 mt-3 my-4 text-md-left">

                    <h5 class="fw-bold mt-3">- Trusted by Leading Companies: </h5>
                    <p class="text-muted"> Our strong recruiter network ensures high employment success rates for
                        our trainees.</p>
                </div>


            </div>

        </div>
    </div>
</section>








<div class="py-lg-6 container-fluid" style="margin-bottom: 100px; margin-top: 80px;">
    <div class="row">
        <div class="col-md-12">
        </div>
    </div>
    <div class="row-cols-xl-7 gy-6 row">

        <div class="logo-slider bg-light" style="height: 100px;">
            <div class="logo-track mt-3">
                <img src="/assets/images/img_google.png" alt="Google">
                <img src="/assets/images/img_microsoft.png" alt="Microsoft">
                <img src="/assets/images/img_tcs.png" alt="TCS">
                <img src="/assets/images/img_scer.png" alt="SCER">
                <img src="/assets/images/img_myntra.png" alt="Myntra">
                <img src="/assets/images/img_oracle.png" alt="Oracle">
                <img src="/assets/images/img_flipcart.png" alt="Flipkart">

                <!-- Duplicate for seamless loop -->
                <img src="/assets/images/img_google.png" alt="Google">
                <img src="/assets/images/img_microsoft.png" alt="Microsoft">
                <img src="/assets/images/img_tcs.png" alt="TCS">
                <img src="/assets/images/img_scer.png" alt="SCER">
                <img src="/assets/images/img_myntra.png" alt="Myntra">
                <img src="/assets/images/img_oracle.png" alt="Oracle">
                <img src="/assets/images/img_flipcart.png" alt="Flipkart">
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>






